
.button-container {
    position: fixed;
    bottom: 0;
    /* left: 0; */
    /* right: 0; */
    text-align: left;
    padding: 10px;
    
}

.button-container button {
    /* text-align: left; */
    margin: 2px 4px;
    padding: 15px 15px;
    background-color: #422d95;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-test-button {
    
    /* Adjust the distance from the right */
    padding: 8px 10px;
    color: #422d95; 
    background-color: white;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    z-index: 1000;
    /* Ensure it's above other elements */
}